{% load staticfiles %}
{% load i18n %}

<html>
<head>
{% block head %}
	{% block css %}
    <!-- app css, not likely, prbably in the project in stead of app -->
	{% endblock %}
	{% block javascript_override %}
    <!-- add scripts you can override elsewhere -->
	{% endblock %}
	{% block javascript %}
    <!-- app javascript, not likely, prbably in the project in stead of app -->
	{% endblock %}

<title>Reusable app</title>
{% endblock %}
</head>
    <body>
    	<div class="content container">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
