{% extends "iamreusable/base.html" %}
{% load i18n %}
{% block content %}

    <h1>{% trans "Welcome at the IAmIT reusable app example" %}</h1>
    <br>
    Not a lot here, just to demonstrate a reusable app.<br>
    Be carefull with dependencies to the project or other own apps.... might use them in a project where those dependencies are not available!<br>
    <br>
    So a link back to the project is already abit dangerous, unless it's pretty sure all the projects you use have the naemd url index.<br>
    <a href="{% url 'index' %}">Back to index of the project</a><br>
    Note: there are smarter options, like use a setting variable to fill in here, or even better (i use that option): a variable extend, so you can use the project name to extend the base.htm,l of the project.<br>
    That way you use the navigation and style of the project, aslo in this external app (although private repo of your own).<br>
    But that's another subject<br>
    <br>
    Note Be very carefull with this constuction (you might need to get use to this):<br>
    When you rerun bin/buildout.... everything in the local_checkouts folder is overwritten!!!<br>
    So when you make changes in the reusable app.... make sure you cd in to the reusable app buidlout dir, and there:
    git add -A<br>
    git commit -m 'Your short description'<br>
    git push origin master<br>
    always use this, to make sure you really committed it:<br>
    git status<br>
    <br>
    Than there are 2 ways:
    Or you use the master branch in the buildout of development (i prefer that), or you create a new release in the seperate checkout of your app, and change the version in buildout before your rerun it.<br>
    In the seperate git clone off your app, you do:<br>
    git status<br>
    in case not in master: git checkout master<br>
    git pull<br>
    bin/buildout<br>
    In case no errors in buidlout:<br>
    bin/fullrelease<br>
    <br>
    And you have a new version of your exeternal reuasable app!<Br>

<br>
{% endblock %}
